# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - WEB-MovilidadMundial

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies frontend
        working-directory: apps/web
        run: |
          npm install --legacy-peer-deps

      - name: Create .env file
        working-directory: apps/web
        run: |
          echo "VITE_APP_NAME=${{ secrets.VITE_APP_NAME }}" > .env
          echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" > .env

      - name: Build frontend
        working-directory: apps/web
        run: |
          npm run build

      - name: Upload project files and web dist
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            apps/server/
            apps/web/dist/
            azure-startup.sh
            package.json
            package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_95F15140ADC34A3587AE2B495F6015E0 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5A4B86721FEF4ECBBDD5C31C342302C1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_115D94A2CA824BDF925EEAF58FA6EE00 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'WEB-MovilidadMundial'
          slot-name: 'Production'
          package: .
          